<html>
    <body>
      <div class="products">
        <img src="../assets/prods.png" id="productimage">
        <div class="kard">
          <div class="card" style="width: 25rem;">
            <a routerLink="../products-details"><img src="../assets/coke.jfif" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Coke</h5>
            </div>
          </div>
          <div class="card" style="width: 25rem;">
            <a routerLink="../products-details">
            <img src="../assets/sprite.jfif" class="card-img-top"></a>
            <div class="card-body">
              <h5 class="card-title">Sprite</h5>
            </div>
          </div>
          <div class="card" style="width:25rem;">
            <a routerLink="../products-details"><img src="../assets/mm.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Minute Maid</h5>
            </div>
          </div>
          <div class="card" style="width:25rem;">
            <a routerLink="../products-details"><img src="../assets/powerade.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Powerade</h5>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
