<br>
<table>
    <div class="card border-dark mb-3" style="max-width: 50rem;">
        <div class="card-header">Joins Us!!</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Input your information below:</h5>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name" [(ngModel)]="userName" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" [(ngModel)]="lastName" placeholder="Last Name">
              
            </div>
          </div>
          <br>
          <p>Full Name: {{userName}}{{lastName}}</p>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Enter Email Address:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="emailAdd" placeholder="Email Address" aria-label="Email">
            <br>
            <p>Email Address: {{emailAdd}}</p>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Enter Institution/Affiliation:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]="insTitut" placeholder="Institution" aria-label="Institution">
            <br>
            <p>Academic Institution: {{ insTitut }}</p>
          </div>
        </div>
      </div>

</table>
    
