<html>
    <body>
        <div class="home">
            <img src="../assets/home.png" id="homeimage">
            <div class="kard">
                <div class="card" style="width: 18rem;">
                  <img src="../assets/img1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">We value diversity, equity and inclusion</h5>
                    <p class="card-text">
                        700,000+ people around the world work at Coca-Cola and our bottling partners. We champion diversity by building a workforce as diverse as the consumers we serve. Because the more perspectives we have, the better decisions we make.
                    </p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../assets/img2.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">We value equality</h5>
                    <p class="card-text">
                        Empowering people's access to equal opportunities, no matter who they are or where they're from. Our company has signed several gender diversity pledges and is working towards an even split of women and men in leadership roles.
                    </p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../assets/img3.jfif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">We value human and workplace rights</h5>
                    <p class="card-text">
                        We have and continue to develop comprehensive policies, principles and processes to help ensure human rights are respected and promoted, and work to identify and address any gaps at every point of our business and along our supply chain – from the driver delivering our products.
                      
                    </p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../assets/img4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">We commit to supplier diversity</h5>
                    <p class="card-text">
                        The Coca-Cola Company is committed to supplier diversity by maximizing procurement opportunities and proactively engaging and building partnerships with diverse suppliers.
                  </div>
                </div>
              </div>
        </div>
    </body>
</html>