<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="../emplist1">Emplist1</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../emplist2">Emplist2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../emplist3">Emplist3</a>
        </li>
        </ul>
  </nav>
<div>
    <router-outlet></router-outlet>
</div>
