<br>
    <img src="../assets/main.png">
    <div class="centered">{{greetmain}}<br>{{greetmain2}}
        <br>
        <button class="btn default">Early Bird Registration</button>
    </div>
      <br>
      <div class="kard">
      <div class="card" style="width: 18rem;">
        <img src="../assets/france.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">France</h5>
          <p class="card-text">
            France, officially French Republic, French France or République Française, country of northwestern Europe. Historically and culturally among the most important nations in the Western world.
          </p>
        </div>
        <ul class="list-group list-group-flush">
              <li class="list-group-item">Architecture and Fine Arts</li>
              <li class="list-group-item">Cultural Events</li>
              <li class="list-group-item">Safety and Security</li>
        </ul>
        <div class="card-body">
          <a href="https://www.britannica.com/place/France" class="card-link">Learn more</a>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/seoul.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Seoul</h5>
          <p class="card-text">
            Seoul, Korean Sŏul, formally Sŏul-t’ŭkpyŏlsi (“Special City of Seoul”), city and capital of South Korea (the Republic of Korea). It is located on the Han River (Han-gang) in the northwestern part of the country.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Humanities and Arts</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
          
        </ul>
        <div class="card-body">
          <a href="https://www.britannica.com/place/Seoul" class="card-link">Learn more</a>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/sanf.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">San Francisco</h5>
          <p class="card-text">
            San Francisco, city and port, coextensive with San Francisco county, northern California, U.S., located on a peninsula between the Pacific Ocean and San Francisco Bay.
            
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Science and Technology</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
        <div class="card-body">
          <a href="https://www.britannica.com/place/San-Francisco-California" class="card-link">Learn more</a>

        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/boston.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boston</h5>
          <p class="card-text">
            Boston, city, capital of the commonwealth of Massachusetts, and seat of Suffolk county, in the northeastern United States. It lies on Massachusetts Bay, an arm of the Atlantic Ocean.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Humanities and Art</li>
          <li class="list-group-item">Cultural Events</li>
          <li class="list-group-item">Safety and Security</li>
        </ul>
        <div class="card-body">
          <a href="https://www.britannica.com/place/Boston" class="card-link">Learn more</a>

        </div>
      </div>
    </div>
    


