<br>
<p>Below are our Partners!</p>
  <table id="customers">
    <tr>
      <th>Company</th>
      <th>Trademark</th>
      <th>Sponsorship</th>
      <th>Go to Website</th>
    </tr>
    <tr>
      <td>Microsoft</td>
      <td class="int"><img src="../assets/1.png" class="klas"></td>
      <td>Platinum</td>
      <td><a href="https://www.microsoft.com/en-ph">View website</a></td>
    </tr>
    <tr>
      <td>Apple,inc</td>
      <td class="int"><img src="../assets/4.jfif" class="klas"></td>
      <td>Gold</td>
      <td><a href="https://www.apple.com/ph/">View website</a></td>
    </tr>
    <tr>
      <td>Amazon</td>
      <td class="int"><img src="../assets/2.png" class="klas"></td>
      <td>Silver</td>
      <td><a href="https://www.amazon.com/ref=nav_logo">View website</a></td>
    </tr>
    <tr>
      <td>Google,inc</td>
      <td class="int"><img src="../assets/3.png"class="klas"></td>
      <td>Bronze</td>
      <td><a href="https://www.google.com/">View website</a></td>
    </tr>
  </table>
  
