<br>
<div class="center">
    <div class="card text-center border border-dark" style="width: 50rem;">
        <div class="card-body">
            <div class="text-center">
                <img src="../assets/img.jpg" class="rounded" alt="...">
              </div>
          <p class="card-text">Jan Carl Canlas, 21,  a   Web Development student at Holy Angel University. Being an Angelite student pushes me to  step up  and  explore more about information technology. Therefore, I started a commission to design logos for local businesses in our area.
        </p>
          <a href=".//skills" class="btn btn-dark">Know me more</a>
        </div>
      </div>
</div>

